.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #008080;

  min-height: 100vh;
  display: flex;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* .drag_drop {
  padding: 0.5rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0.5rem;
  align-items: start;
} */

.drag_drop {
  padding: 4.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  /* grid-template-columns: repeat(auto-fill, 300px); */
  /* grid-gap: 0.5rem; */
  /* gap: 0.5rem; */
  /* align-items: start; */
}

/* .group-title {
  float: left;
  text-align: left;
  margin-bottom: 0.5rem;
  background: linear-gradient(to left, #4b515f, #6e778a);
  font-weight: 900;
  border: 1px solid whitesmoke;
} */

/* .drag-group {
  border: 3px solid #4b515f;
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 0.5rem;
} */

.drag-group {
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  border-style: solid;
  padding: 1px;
}

/* .drag-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  color: #282c34;
  min-height: 100px;
  border-radius: 2px;
  padding: 0.3rem;
} */

.drag-item {
  background-color: whitesmoke;
  color: #282c34;
  min-height: 80px;
  border-radius: 2px;
  padding: 0.3rem;
  margin: 0 10px 10px 10px;
}

.current {
  opacity: 0;
}
.drag-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-title {
  font-size: large;
  font-weight: 900;
  padding: 0.5rem;
}

.item-content {
  font-size: 14px;
  text-align: start;
  width: 100%;
  min-height: 60px;
}

.photo {
  height: 150px;
  width: 160px;
}

.item-content > * {
  padding: 0.5rem 0.5rem;
}

/* .title-text {
  background-color: transparent;
  font-size: medium;
  border: 0px solid;
  height: 20px;
  width: 200px;
  color: black;
} */
.title-text {
  margin: 2px 0 0 1px;
  float: left;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  border: 0px solid;
  color: #fff;
}

/* .delete-item {
  font-family: 'MS Sans Serif';
  font-size: 11px;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 6px;
  margin: 20px auto 3px;
  margin-bottom: 0.5rem;
  display: block;
  position: relative;
  bottom: 0px;
} */

.delete-item {
  font-family: 'MS Sans Serif';
  font-size: 9px;
  outline: 1px solid #000000;
  background: #c0c0c0;
  /* border-width: 1px; */
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 2px 3px;
  /* margin: 20px auto 3px; */
  margin-bottom: 0.3rem;
}

.delete-item {
  float: right;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
  min-width: 300px;
  max-width: 300px;
}

/* Style your items */
.my-masonry-grid_column > .drag-group {
  background: rgb(212, 212, 212);
  margin-bottom: 15px;
}

.image-group {
  margin-top: 22px;
}
.image-input {
  margin-bottom: 10px;
  width: 200px;
}

.button-group {
  margin-bottom: 4px;
}
.delete-group-button {
  margin: 2px 2px 2px 0;
  float: right;
  width: 14px;
  height: 13.5px;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 0;
  font-size: 9px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
}

.add-card-button {
  margin: 2px 2px 2px 0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  min-width: 13px;
}

.icon-button {
  margin: 3px;
}

.title-container {
  width: 100%;
  background: #000080;
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.title-text {
  margin: 2px 0 0 1px;
  float: left;
  font-family: Tahoma;
  font-weight: bold;
  font-size: 15px;
  background-color: transparent;
  border: 0px solid;
  color: #fff;
  width: 250px;
}

textarea {
  background-color: transparent;
  border: 0px solid;
  height: 50px;
  width: 160px;
  color: black;
  resize: none;
}

/* .textarea {
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
  min-height: 40px;
  line-height: 20px;
}

.textarea[contenteditable]:empty::before {
  content: 'Placeholder still possible';
  color: gray;
} */

.taskBar {
  height: 30px;
  background-color: rgb(192, 192, 192);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  display: flex;
  justify-content: space-between;
}
.start-nav {
  width: 85px;
  font-size: 13px;
  font-weight: 900;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 10px;
  margin-top: 1px;
}

.right-side-nav {
  display: flex;
}

.group-num-nav {
  width: 85px;
  font-size: 12px;
  font-weight: 900;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 10px;
  margin-top: 1px;
}

.login-nav {
  width: 85px;
  font-size: 13px;
  font-weight: 900;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 10px;
  margin-top: 1px;
  cursor: pointer;
}

.clicked {
  border-color: #808080 #ffffff #ffffff #808080;
}

.login-form {
  float: right;
  border-width: 1px;
  border-style: solid;
  width: 220px;
  height: 86px;
  background: #c0c0c0;
  position: absolute;
  top: 31px;
  right: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  box-shadow: 1px 2px;
}

.login-container {
  margin-top: 16px;
}

.cancel-button {
  margin: 2px 2px 2px 0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  min-width: 13px;
}

.submit-button {
  margin: 2px 2px 2px 0;
  border-width: 1px;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 3px;
  font-size: 11px;
  font-weight: bold;
  font-family: Tahoma;
  text-align: center;
  min-width: 13px;
}

.login-button-group {
  margin-top: 3px;
}
