.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  /* background-color: #282c34; */
  background-color: #008080;

  min-height: 100vh;
  display: flex;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.drag_drop {
  padding: 0.5rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0.5rem;
  align-items: start;
}
/* .group-title {
  float: left;
  text-align: left;
  margin-bottom: 0.5rem;
  background: linear-gradient(to left, #4b515f, #6e778a);
  font-weight: 900;
  border: 1px solid whitesmoke;
} */

.drag-group {
  border: 3px solid #4b515f;
  /* background-color: #6e778a; */
  background-color: #c0c0c0;
  border-radius: 5px;
  padding: 0.5rem;
}

.drag-item {
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center; */
  background-color: whitesmoke;
  color: #282c34;
  min-height: 100px;
  border-radius: 2px;
  padding: 0.3rem;
}

.current {
  opacity: 0;
}
.drag-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-title {
  font-size: large;
  font-weight: 900;
  padding: 0.5rem;
}

.item-content {
  font-size: small;
  text-align: start;
  width: 100%;
  min-height: 60px;
}

.photo {
  height: 150px;
  width: 160px;
}

.item-content > * {
  padding: 0.5rem 0.5rem;
}

input {
  background-color: transparent;
  font-size: medium;
  border: 0px solid;
  height: 20px;
  width: 200px;
  color: black;
}

.delete-item {
  font-family: 'MS Sans Serif';
  font-size: 11px;
  outline: 1px solid #000000;
  background: #c0c0c0;
  border-width: 1px;
  border-style: solid;
  border-color: #ffffff #808080 #808080 #ffffff;
  padding: 4px 6px;
  /* margin: 20px auto 3px; */
  margin-bottom: 0.5rem;
  display: block;
  position: relative;
  bottom: 0px;
}

textarea {
  background-color: transparent;
  border: 0px solid;
  height: 100px;
  width: 160px;
  color: black;
  resize: none;
}

.delete-item {
  float: right;
}

.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -15px; /* gutter size offset */
  width: 100%;
}
.my-masonry-grid_column {
  padding-left: 15px; /* gutter size */
  background-clip: padding-box;
  min-width: 300px;
  max-width: 300px;
}

/* Style your items */
.my-masonry-grid_column > .drag-group {
  /* change div to reference your elements you put in <Masonry> */
  background: rgb(212, 212, 212);
  margin-bottom: 15px;
}
