.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  color: white;
}

body {
  font-family: 'Roboto', sans-serif;
}

.drag_drop {
  padding: 0.5rem;
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 0.5rem;
  align-items: start;
}
.group-title {
  text-align: left;
  margin-bottom: 0.5rem;
  /* background: linear-gradient(to left, #4b515f, #6e778a); */
  font-weight: 900;
  /* border: 1px solid whitesmoke; */
}

.drag-group {
  border: 3px solid #4b515f;
  background-color: #6e778a;
  border-radius: 5px;
  padding: 0.5rem;
}

.drag-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: whitesmoke;
  color: #282c34;
  min-height: 150px;
  border-radius: 2px;
  padding: 0.3rem;
}

.current {
  background-color: #6c7588;
  color: rgba(0, 0, 0, 0);
}
.drag-item:not(:last-child) {
  margin-bottom: 0.5rem;
}

.item-title {
  font-size: large;
  font-weight: 900;
  padding: 0.5rem;
}

.item-content {
  font-size: small;
  text-align: start;
  width: 100%;
}

.item-content > * {
  padding: 0.5rem 0.5rem;
}
